{% extends 'padre.html' %}



{% block contenidoQueCambia %}

    <ul>
    
        {% for profesor in profesores %}
            <li> {{profesor}}</li>
            <div>
                <form action="{% url 'EliminaProfesores' profesor.id %}" method = "post"> {% csrf_token %}
                    <button type = "submit">Eliminar</button>

                </form>
                    <button><a href="{% url 'EditarProfesor' profesor.id %}">Editar</a> 
                    </button>
            </div>
        {% endfor%}

    </ul>
    <a href="{% url 'CreaProfesor' %}"> Crear profesor</a>
{% endblock contenidoQueCambia %}